/* font import -----------*/
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Playfair+Display:wght@300;500;700&display=swap');

/* ::::::: MANIFEST >>>> CSSS ::::::
----------- by filoso -----------   
----------- @antithetic (ig) -----------
::::::::::::::::::::::::::::::::::::
*/


/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Variables  >>> add to template  
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/

/* - Variables   >>> add to template */

:root {
  /* colors */
--ghost-white: hsla(240, 100%, 98%, 1);
--tuscany: hsla(9, 30%, 67%, 1);
--carolina-blue: hsla(206, 88%, 55%, 1);
--black-coral: hsla(220, 7%, 41%, 1);
--smoky-black: hsla(330, 6%, 7%, 1);

/* fonts */
--copy: 'Didact Gothic', sans-serif;
--heading:  'Playfair Display', serif;
--heading-weight: 700;
--title-weight: 500;
--light-weight: 300;
--font-size: 1rem;
--line-height: 1.5;

/* images */

  --image-opacity: 0.6;



}

/* - Grid */
footer {
  margin-bottom: 20vw;
}
.footer h2{
  text-align: center;
}

footer p {
  text-align: center;
}

/* - Base Styles */

html {
  font-size: 100%;
}
a {
  transition-timing-function: ease-in-out;
  transition-duration: 1s;
}
body {

    background-color: var(--ghost-white);
    Font-family: var(--copy);
    font-size: calc(var(--font-size) + .3vw);
    font-weight: var(--light-weight);
    line-height: var(--line-height); 
    color: var(--smoky-black);

    transition-timing-function: ease-in-out;
    transition-duration: 1s;
}

h1 {
  font-family: var(--heading);
  font-weight: var(--copy-weight);
  font-size: calc( var(--font-size) * 1vw);
}

section img {
  width: 100%;
  height: auto;
}
/* - Base Styles */

/* - Typography */

nav header h1 {
  font-size: 15vw;
}

h1, h2 {
  font-family: var(--heading);
}

/* - Links */

a {
  display: inline;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--ghost-white) ;
  background-color: var(--smoky-black);
  padding-left: 1rem;
  padding-right: 1rem;
  text-align:center;
  display: block;
}

img {
  opacity: var(--image-opacity);
  animation-timing-function: ease-in-out;
  transition-duration: 2s;
  
}

img:hover {
  opacity: 100;
  animation-name: fade;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-direction: normal;
}

@keyframes fade {
  0% {
      opacity: var(--image-opacity);
  }
  25% {
      opacity: .25;
  }
  75% {
      opacity: .5;
  }
  100% {
      opacity: 1;
  }
}




.footer a {
  margin: 0 5rem;
  padding: 0.5rem 3rem;
     text-transform: lowercase;
   }

.footer a:hover {
   background-color: transparent;
   color: var(--smoky-black);
}

section.hello a {
    text-decoration: none;
}

/* - Buttons */

/* - Forms */

/* - Lists */

/* - Code */

/* - Tables */

/* - Spacing */

/* - Utilities */

/* ----------- media queries ----------- */

/* Smartphones (landscape) ----------- */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 767px) {
    /* Styles */
    body {
      margin: 3rem 2rem;
    }

    .container {
      max-width: 600px;
      margin: 0 auto;
      height: auto;
   
    }

    section {
      margin: 7rem 0rem;;
    }

p:nth-of-type(even) { 
      text-align: right;
    }

    section h2  {
      font-size: calc(var(--font-size) * 2);
    }

    section p {
      margin: 3rem 1.5rem;
      font-size: calc(var(--font-size) * 1.3);
    }


}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    /* Styles */
    body {
      background-color: hsl( 0, 79%, 72% );
      width: 100vw;

    }

    .container {
      max-width: calc(768px - 3rem) ;
      margin: 0 auto;
    }
    section {
      margin: 10rem 0rem;;
    }
    .section h2 {
      margin-left: 20vw ;
    }
    section p {
      margin: 3rem 1.5rem;
      font-size: calc(var(--font-size) * 1.3);
    } 
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    /* Styles */
    body {
      background-color: purple;
      color: white;
    }


    .container {
      max-width: calc(992px - 3rem) ;
      margin: 0 auto;
    }


}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    /* Styles */
}




   